$bg-fff: #fff;
// 主题色
$primary-color:#0382ff;
$menu-color:#468afb;

/* button */
$button-bg: #409eff;
$button-borderR: 3px;
$disabled-bg: #999999;

$title-bg: #1C2438;
$font-color: #495060;
$table-onlyRead: #f2f2f2;

/* padding */
$padding: 16px;

/* font */
$font-22: 22px;
$font-16: 16px;
$font-14: 14px;
$font-12: 12px;

$padding-16: 16px;
$padding-8: 8px;

$margin16: 16px;
$margin8: 8px;

$dialog-padding:30px;




